Body {
    font-family: 'Times New Roman', Times, serif;
    margin: 24px;
    padding: 0;
    background-color: rgb(157, 173, 153);

}

h1 {
    text-align: center;
    color: #060607;
}

form {
    max-width: 600px;
    margin:auto;
    background-color: rgb(245, 194, 194);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0 , 0, 0, 0.5);
    padding: 20px;
}

fieldset {
    border: 2px solid #3498db;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    background-color: aliceblue;

}

legend {
    font-weight: bold;
    text-align: left;
    color: black;

}

label {
    display: block;
    margin-top: 10px;
    color: #2c3e50;

}

inpt,textarea {
    width: calc(100% - 1px);
    padding: 8px;
    margin-top: 4px;
    border:1px solid #2c3e50 ;
    border-radius: 4px;
    box-sizing:border-box;

}

button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: aquamarine;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;

}

button:hover{
    background-color: #349;
}